<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
</head>

<body>
    <h1> Post Page</h1>
    <div class="container">
        <form action="/post" method="POST">
            <div>
                Title :
                <input type="text" name="title" id="title">
            </div>
            <div>
                Image:
                <input type="file" name="photo" id="photo" accept="image/*">
            </div>
            <div>
                Post Content:
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <div>
                <input type="submit" value="save">
            </div>
        </form>
    </div>
</body>

</html>